<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560477239628-nbshh2t4c5ndr82thd1i87dul8l4o7h9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560477239628-nbshh2t4c5ndr82thd1i87dul8l4o7h9</string>
	<key>API_KEY</key>
	<string>AIzaSyDpdAr7GLskLJxOPQDWbnDwR0LaCcb1-LE</string>
	<key>GCM_SENDER_ID</key>
	<string>560477239628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softspace.SS-Book-Store</string>
	<key>PROJECT_ID</key>
	<string>ss-book-store</string>
	<key>STORAGE_BUCKET</key>
	<string>ss-book-store.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560477239628:ios:040188219d03f26ed737e9</string>
</dict>
</plist>